.aa {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.ab {
  margin-left: 5vw;
  margin-top: 10vh;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 800;
}

.log {
  border-radius: 50%;
  max-width: 15vw;
}

.a {
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: none;
  background-color: #f6f6f6;
}

.ac {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
